.header {
    position: absolute;
    width: 220px;
    height: 100px;
    left: 16px;
    top: 104px;
    
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
  }