.spacing {
  padding: 1.5rem;
}

.bkg {
  background-image: url(./icons/topimage.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 30%;
  padding: 1.2rem;
}

.menu {
  display: block;
  padding: 0;
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
}

.card-content {
  padding: 0.9rem 1.5rem 1.1rem;
  background: #1a2236;
}

.title {
  flex-direction: column;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 100%;
  color: #1a2236;
  margin: 1.5rem 0.5rem;
}

.paragraph-headline {
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.2rem;
  color: #1a2236;
}

.link-headline {
  display: block;
  text-align: center;
  padding: 1rem;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  background: #1a2236;
  color: white;
  border: 2px solid #1a2236;
}

.link-headline:hover {
  background: none;
  color: #1a2236;
}

.link-headline:active {
  color: #1a2236;
}

.link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 0.5rem;
}

.technologies > li {
  background-color: #98dede;
  color: black;
  padding: 0.5rem;
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 80%;
}

.headline {
  display: flex;
  flex-direction: column;
  height: 75vh;
  background-image: url(./icons/geometry1.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
}

.subtitle {
  font-weight: 300;
  font-size: 1.2rem;
  color: #fff;
}

.button {
  display: flex;
  align-items: center;
  padding: 0.7rem;
  gap: 0.8rem;
  color: white;
  background: none;
  border: 2px solid white;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4rem;
  text-align: center;
  cursor: pointer;
  width: max-content;
}

.about-cards {
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #fff;
}

.about-info {
  margin-left: 0;
  font-weight: 580;
  font-size: 1.2rem;
  line-height: 1.7rem;
  letter-spacing: -0.0525em;
  color: #fff;
  list-style-position: inside;
}

.card {
  padding: 3rem 3rem;
  margin: 1rem 0 1rem 0;
}

.bgc1 {
  background: #1c528a;
  margin-top: 1.5rem;
  background-image: url(./icons/hash.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.bgc2 {
  background: #e2505c;
  background-image: url(./icons/red-square.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.bgc3 {
  background: #febf52;
  margin-bottom: 1.5rem;
  background-image: url(./icons/light-bulb.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.projects {
  display: grid;
}

.projects div {
  display: flex;
  flex-direction: column;
}

.stylefooter {
  padding-top: 2.5rem;
}

.formli {
  color: #7d7c84;
  list-style: none;
  width: 100%;
  padding: 0.8rem 0.5rem;
}

.footercontainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footerstyle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3.5rem 0;
  height: 2.75rem;
  width: 100%;
}

.footerstyle svg {
  display: flex;
  align-content: center;
}

.teal {
  color: #92dcdc;
  display: flex;
  justify-content: left;
  gap: 0.7rem;
}

.textform {
  font-size: 1rem;
}

.pvr {
  padding: 1rem 0;
  background: #1a2236;
}

.iconstyle {
  display: flex;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .menu {
    
  }
}